.container{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.main-title{
    font-size: 34px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-card{
    width: 60vw;
    height: 100%;
    overflow-y: scroll;
    padding: 16px;
}

.map-home{
    width: 40vw;
    height: 100%;
}

.map-button{
    display: none;
    position: fixed;
    bottom: 10px;
    margin: 0px auto;
    width: 100px;
    height: 24px;
    border-radius: 6px;
    background-color: #212224;
    color: white;
    border: #212224;
}


@media (max-width: 650px){
    .list-card{
        width: 90vw;
        overflow-y: unset;
    }
    .map-home{
        position: fixed;
        width: 0vw;
        height: 100vh;
        transition: 200ms;
        top: 0px;
    }

    .map-button{
        display: initial;
    }

    .show-map{
        width: 100vw;
        transition: 200ms;
    }
}