.container{
    width: 100%;
    height: 95vh;
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.list-card{
    width: 45vw;
    height: 100%;
    overflow-y: scroll;
}

.map-home{
    width: 49vw;
    height: 100%;
}

.map-button{
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50vw;
}


@media (max-width: 650px){
    .list-card{
        width: 90vw;
        overflow-y: unset;
    }
    .map-home{
        position: fixed;
        width: 0vw;
        transition: 200ms;
    }

    .map-button{
        display: initial;
    }

    .show-map{
        width: 100vw;
        transition: 200ms;
    }
}