.img-card{
    width: 200px;
    height: 170px;
    object-fit: cover;
    float: left;
    margin-right: 16px;
}

.bold{
    font-weight: bold;
}

.card{
    min-height: 170px;
    cursor: pointer;
}

@media (max-width: 650px){
    .img-card{
        display: block;
        width: 100%;
        float: inherit;
        margin: 0px auto;
    }
}