.img-card{
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
}

.card{
    min-height: 170px;
}

@media (max-width: 650px){
    .img-card{
        display: block;
        width: 100%;
        float: inherit;
        margin: 0px auto;
    }
}